label:after {
    content: '+';
    position: absolute;
    right: 1em;
    color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

input:checked + label:after {
    content: '-';
    line-height: .8em;
}

.accordion__content{
    max-height: 0;
    transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
    background-color: white;
}
input[name='panel']:checked ~ .accordion__content {
    /* Get this as close to what height you expect */
    max-height: 50em;
}